html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../images/blue-gloss-background-blur.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#content,#footer {
  flex: 0 1 auto;
}
.modal-content {
  background-color:#e9e9e9;
}
.modal-title {
  font-family: 'Londrina Solid', cursive;
  font-size:3em;
}
.microLogoSymbol {
  font-family: Serif;
  color:rgb(62, 62, 255);
  text-shadow:1px 0 0 red,0 1px 0 red,-1px 0 0 red,0 -1px 0 red;
}
#intro-box {
  background-color: #8e65ff77;
}